* {
  font-family: "Source Sans Pro", sans-serif; }

* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  height: 100%;
  width: 100%; }

html {
  height: 100%;
  background-image: url("../assets/img/main-bkg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

img {
  border-radius: 2%;
  transition: transform 0.7s; }
  img:hover {
    transform: scale(0.9); }

.button {
  font-weight: bold;
  color: #f8f4f4;
  background-color: rgba(143, 193, 233, 0.685);
  width: 15%;
  height: 80%;
  margin: 4px 2px; }

form .main__legend {
  margin: 2%;
  padding-top: 3%;
  font-size: 1.1rem;
  font-weight: bold;
  color: #f8f4f4;
  text-decoration: none;
  word-wrap: break-word;
  text-align: justify; }

form .main__label {
  font-size: 1.1rem;
  font-weight: 400;
  color: #f8f4f4;
  text-decoration: none;
  word-wrap: break-word;
  text-align: justify;
  display: block;
  width: 100%;
  height: 1.4rem; }

form .main__div--message {
  padding: 0;
  margin: 0;
  width: 82%;
  height: 10rem;
  display: inline-block;
  text-align: center; }

form .main__input {
  display: block;
  width: 100%;
  height: 1.4rem; }

form #message {
  display: block;
  width: 100%;
  height: 100%; }

form .main__div--button {
  height: 2rem;
  padding: 2%; }

iframe .main__iframe {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 400px;
  width: 100%; }

.main__dl {
  font-size: 1rem;
  color: #f8f4f4;
  text-decoration: none;
  word-wrap: break-word;
  text-align: justify; }

.main__dt {
  font-weight: 700;
  font-size: 1.3rem; }

.main__li {
  font-weight: 400;
  font-size: 1.1rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem; }

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(47, 111, 163, 0.884);
  position: sticky;
  border-radius: 2%; }
  .header .header__h1 {
    transition: transform 0.8s; }
    .header .header__h1:hover {
      transform: scale(0.85); }
  .header .header__a {
    font-style: bold;
    font-size: 3rem;
    color: #f8f4f4;
    text-decoration: none; }
  .header .header__a--nav {
    color: #f8f4f4;
    font-style: italic;
    text-decoration: none; }
  .header .header__ul {
    height: 1.5rem;
    position: inherit; }
  .header .header__li {
    display: inline;
    color: #f8f4f4;
    transition: font-size 0.5s; }
    .header .header__li:hover {
      font-size: 1.1rem; }
  .header .header__span {
    color: #f8f4f4;
    font-size: 1.2rem; }
  .header .header__img {
    height: 40px;
    padding-bottom: 0.5%; }

/* Responsive design */
@media screen and (min-width: 0px) and (max-width: 1000px) {
  .header {
    flex-direction: column; }
  .header__img {
    display: none; } }

.main {
  width: 100%;
  display: inline-block; }

.main__div {
  display: inline-block;
  vertical-align: middle;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 3%;
  padding-right: 3%;
  width: 40%;
  overflow: auto; }

.main__section {
  width: 80%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center; }
  .main__section .main__div {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%; }
  .main__section .main__form {
    border-radius: 3%;
    padding: 1%;
    background-color: rgba(47, 111, 163, 0.884); }
    .main__section .main__form .main__div {
      padding: 0;
      margin: 1%;
      width: 40%;
      display: inline-block;
      text-align: left; }

.main__h2 {
  font-style: normal;
  font-size: 3rem;
  color: #f8f4f4;
  text-align: left; }

.main__p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #f8f4f4;
  text-decoration: none;
  word-wrap: break-word;
  text-align: justify; }

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #f8f4f4;
  background-color: rgba(47, 111, 163, 0.884); }

#presentation {
  height: 100%; }
  #presentation .main__div {
    width: 90%;
    margin: 0 auto;
    display: grid;
    justify-items: space-evenly;
    align-items: center;
    grid-template-areas: "img title" "img p" "img cite";
    column-gap: 30px;
    row-gap: 10px; }
  #presentation .main__img {
    grid-area: img;
    width: 600px; }
  #presentation .main__h2 {
    grid-area: title;
    font-style: normal;
    font-size: 3rem;
    color: #f8f4f4;
    text-align: left; }
  #presentation .main__p--frontpage {
    grid-area: p;
    font-size: 1.8rem;
    font-weight: 600;
    color: #f8f4f4;
    word-wrap: break-word; }
  #presentation #cite {
    grid-area: cite;
    font-size: 1rem; }

@media screen and (min-width: 0px) and (max-width: 400px) {
  #presentation .main__div {
    padding-top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #presentation .main__img {
    grid-area: img;
    width: 180px; }
  #presentation .main__h2 {
    font-size: 1.7rem;
    text-align: center; }
  #presentation .main__p--frontpage {
    font-size: 0.9rem;
    text-align: center; }
  #presentation #cite {
    font-size: 0.8rem; } }

@media screen and (min-width: 400px) and (max-width: 1000px) {
  #presentation .main__div {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #presentation .main__img {
    grid-area: img;
    width: 250px; } }

#presentation {
  animation: movein 2s, fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes movein {
  from {
    transform: translate3d(0, -50px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

#gallery .main__div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  align-items: center;
  justify-items: center; }

.main__img--gallery {
  width: 300px; }

@media screen and (min-width: 0px) and (max-width: 1000px) {
  #gallery .main__div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
    row-gap: 50px; }
  .main__img--gallery {
    width: 80%; } }
