.main__dl {
	font-size: 1rem;
	color: $main_text_color;
	text-decoration: none;
	word-wrap: break-word;
	text-align: justify;
}
.main__dt {
	font-weight: 700;
	font-size: 1.3rem;
}
.main__li {
	font-weight: 400;
	font-size: 1.1rem;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 2.5rem;
}