$main_text_color: rgb(248, 244, 244);
$main_background_color: rgba(47, 111, 163, 0.884);
$button_background_color: rgba(143, 193, 233, 0.685);
$breakpoint_min: 0px;
$breakpoint_mid: 400px;
$breakpoint_max: 1000px;